<div class="card">
    <form [formGroup]="myForm" class="flex align-items-stretch flex-wrap card-container blue-container" style="max-width: auto" (ngSubmit)="onSubmit()">
        <div *ngFor="let control of jsonFormData?.controls" class="font-bold border-round m-2">
            <label [for]="control.name" class="font-bold block mb-2">{{control.label}} </label>
            <div [ngSwitch]="control.type">
                <input *ngSwitchCase="'text'" [id]="control.name" [formControlName]="control.name" [type]="control.type" [value]="control.value"  [ngStyle]="{width: control.width}" pInputText>
                <input *ngSwitchCase="'integer'" [id]="control.name" [formControlName]="control.name" [type]="control.type" [value]="control.value" [ngStyle]="{width: control.width}" pInputText>
                <input *ngSwitchCase="'decimal'" [id]="control.name" [formControlName]="control.name" [type]="control.type" [value]="control.value" [ngStyle]="{width: control.width}" pInputText>
                <p-calendar *ngSwitchCase="'calendar'" [id]="control.name" [formControlName]="control.name" [ngStyle]="{width: control.width}" ></p-calendar>
                <textarea *ngSwitchCase="'textarea'" rows="5" cols="30" style="max-height: 5em;" [autoResize]="true" pInputTextarea [formControlName]="control.name" [ngStyle]="{width: control.width }"></textarea>
                <p-dropdown *ngSwitchCase="'dropdown'" [id]="control.name" [options]="data.controls.get(control.name)" [formControlName]="control.name" [optionLabel]="control.value"></p-dropdown>
            </div>
        </div>
    </form>
    <div class="flex align-items-stretch flex-wrap card-container blue-container">
        <p-button label="Cancel" class="justify-content-center font-bold border-round m-2"></p-button>
        <p-button [disabled]="!myForm.valid" label="Submit" class="justify-content-center font-bold border-round m-2" (onClick)=onSubmit()></p-button> 
    </div>
    <p>myForm value: {{ myForm.value | json }}</p>
    <p>myForm status: {{ myForm.status | json }}</p>

</div>

